h1 {
    text-align: left;
    font-size: big ;
    color:black ;
}

body{
    background-color: aquamarine;
    font-family: sans-serif;
}

p{
    color: black ;
    font-size: large;
}
